$primeira-normal: #06121e;
$primeira-dark: #040f1a;
$primeira-clara: #0c2135;

$segunda-normal: #090d11;
$segunda-dark: #06090c;
$segunda-clara: #1a1f25;

$preto-normal: #232224;
$preto-dark: #161617;
$preto-claro: #353436;

$white-normal: #fff;
$white-dark: #edeaef;
$white-clara: #fefbff;

$vermelho-normal: #d94140;
$vermelho-dark: #b42b2b;
$vermelho-clara: #d34040;
